<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
        </div>
        <!-- <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div> -->
    </div>
    <div class="card mb-4">
        <!-- <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        
                    </div>
                </header>  -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <!-- <th scope="col">Email</th> -->
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date And Time</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>

                        <% allOrders.forEach((data)=> { %>
                            <% const timestamp=new Date(data.createdAt); const options={ month: 'long' , day: 'numeric'
                                , year: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour12: true }; const
                                formattedDate=timestamp.toLocaleDateString('en-US', options); %>
                                <tr>
                                    <td>
                                        <%=data.hashedId%>
                                    </td>
                                    <td><b>
                                            <%=data.name%>
                                        </b></td>
                                    <!-- <td><template class="__cf_email__" data-cfemail="aec3cfdcd8c7c0eecbd6cfc3dec2cb80cdc1c3">[email&#160;protected]</template></td> -->
                                    <td>₹<%=data.totalPrice%>
                                    </td>
                                    <td><span class="badge rounded-pill alert-warning">
                                            <%=data.orderStatus%>
                                        </span></td>
                                    <td>
                                        <%=formattedDate%>
                                    </td>
                                    <td class="text-end">
                                        <a href="/admin/view-admin-order-expand/<%=data._id%>"
                                            class="btn btn-md rounded font-sm">Detail</a>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown"
                                                class="btn btn-light rounded btn-sm font-sm"> <i
                                                    class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <!-- <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a> -->
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>

                                <% } )%>



                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->







    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">

                <% for(let i=1; i <=pages ; i++) { %>
                    <li class="page-item"><a class="page-link" href="?page=<%= i %>" id="pagination">
                            <%= i %>
                        </a></li>

                    <% } %>
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->