<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: <%=orderdetail._id%>
            </p>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">

                    <% const timestamp=new Date(orderdetail.createdAt); const options={ month: 'long' , day: 'numeric' ,
                        year: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour12: true }; const
                        formattedDate=timestamp.toLocaleDateString('en-US', options); %>
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>
                                <%=formattedDate%>
                            </b>
                        </span> <br>
                        <small class="text-muted">user Order ID: <%=orderdetail.hashedId%> </small>
                </div>
                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <form action="/admin/update-status" method="post">
                        <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" name="status">
                            <option>Change status</option>
                           
                            <option>Confirmed</option>
                            <option>Shipped</option>
                            <option>Delivered</option>
                        </select>
                        <input type="text" style="display:none;" name="order" value="<%=orderdetail._id%>">
                        <button class="btn btn-primary" type="submit">Apply</button>

                    </form>

                    <!-- <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a> -->
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%=orderdetail.name%> <br> <template class="__cf_email__"
                                        data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                    <br> +998 99 22123456
                            </p>
                            <!-- <a href="#">View profile</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method:<%=orderdetail.paymentMethod%> <br> Status: new
                            </p>
                            <!-- <a href="#">Download info</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                City: <%=orderdetail.shippingAddress.city%> <br>
                                    <%=orderdetail.shippingAddress.building%><br>
                                        <%=orderdetail.shippingAddress.pincode%>
                            </p>
                            <!-- <a href="#">View profile</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% orderdetail.productDetails.forEach((data)=> { %>
                                    <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    <img src="/uploads/<%=data.Image[1]%>" width="40" height="40"
                                                        class="img-xs" alt="Item">
                                                </div>
                                                <div class="info">
                                                    <%=data.Productname%>
                                                </div>
                                            </a>
                                        </td>
                                        <td> ₹<%=data.Price%>
                                        </td>
                                        <td>
                                            <%=data.quantity%>
                                        </td>
                                        <td class="text-end"> ₹<%=data.subtotal%>
                                        </td>
                                    </tr>

                                    <% } )%>

                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>₹<%=orderdetail.totalPrice%>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>₹</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">₹<%=orderdetail.totalPrice%></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span
                                                                class="badge rounded-pill alert-success text-success">Payment
                                                                done</span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                <div class="col-lg-1"></div>
                <div class="col-lg-4">


                </div> <!-- col// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->