<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Users</h2>
      <!-- <p>Lorem ipsum dolor sit amet.</p> -->
    </div>
    <!-- <div>
          <input type="text" placeholder="Search order ID" class="form-control bg-white">
      </div> -->
  </div>
  <div class="card mb-4">
    <!-- <header class="card-header">
          <div class="row gx-3">
              <div class="col-lg-4 col-md-6 me-auto">
                  <input type="text" placeholder="Search..." class="form-control">
              </div>
              
          </div>
      </header>  -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="align-middle" scope="col">No:</th>
              <th class="align-middle" scope="col">User Name</th>
              <th class="align-middle" scope="col">Email</th>
              <th class="align-middle" scope="col">Phone Number</th>
              <th class="align-middle" scope="col">status</th>
              <th class="align-middle" scope="col">Option</th>
            </tr>
          </thead>
          <tbody>
            <% user.forEach(function(user,index) { %>
              <tr>
                <td>
                  <%=index+1 %>
                </td>
                <td>
                  <%= user.username %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <%= user.phoneNumber %>
                </td>

                <%if(user.blocked){%>
                  <td> blocked </td>
                  <%} else{%>
                    <td> Active </td>
                    <%} %>
                      </td>

                      <td>
                        <%if(user.blocked){%>

                          <a href="/admin/unblock-users/<%= user._id %>" class="btn btn-success">UnBlock</a>


                          <%} else{%>
                            <a href="/admin/block-users/<%= user._id %>" class="btn btn-danger">Block</a>


                            <%} %>



                      </td>


              </tr>
              <% }) %>
          </tbody>
        </table>
      </div> <!-- table-responsive //end -->
    </div> <!-- card-body end// -->
  </div> <!-- card end// -->







  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">

        <% for(let i=1; i <=pages ; i++) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= i %>" id="pagination">
              <%= i %>
            </a></li>

          <% } %>
      </ul>
    </nav>
  </div>
</section> <!-- content-main end// -->