

<body>
    <!-- Quick view -->
   
    <main class="main">
        
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                       
                        <div class="row product-grid-3">
                            <% response.forEach(function(response,index) { %>

                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">


                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <!-- <a href="/zoomView/<%= response._id %>"> -->
                                                <img class="default-img" src="/uploads/<%= response.Image[0] %>" alt="">
                                                <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
     <i class="fi-rs-search"></i></a>
                                            <button aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= response._id%>')"><i class="fi-rs-heart"></i></button>
                                            <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html"><%=response.category%></a>
                                        </div>
                                        <h2><a href="/shop-product/<%=response._id%>"><%=response.Productname%></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>95%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%=response.Price%></span>
                                        
                                        </div>
                                        <!-- <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="#"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                             <% }) %>
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-50">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <!-- <li class="page-item active"><a class="page-link" href="#">01</a></li> -->
                                    <% for(let i = 1; i <= pages ; i++) { %>
                                    <li class="page-item"><a class="page-link" href="?page=<%= i %>" id="pagination"><%= i %></a></li>
                                    
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <% cat.forEach(function(cat,index) { %>
                                <li><a href="/category-filter/<%=cat._id%>"><%=cat.CategoryName%></a></li>
                                <% }) %>
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    
</body>


</html>

<script>
    function addToWishlist(productId){

        $.ajax({
                url: '/add-to-wishlist',
                type: 'GET',
                data: {
                    proId:productId
                },
                success: function (response) {

                    console.log('insideresponse',response);
                    if(response.wishlistAdded){
                        swal({
                            title: "Added To Wishlist!",
                            text: "Item added successfully to wishlist!",
                            icon: "success",
                            button: "OK",
                        });
                    }
                    if(response.wishlistExist){
                        swal({
                            title: "Item Exist!",
                            text: "Item already added To wishlist!",
                            icon: "warning",
                            button: "OK",
                        });
                    }

                   

                   

                }
            })

    }

    
    

</script>