<!-- Quick view -->
<section>


  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="index.html"><img src="assets/imgs/theme/logo.png" alt="logo" /></a>
        </div>
        <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <!-- <div class="main-categori-wrap mobile-header-border">
              <a class="categori-button-active-2" href="#">
                <span class="fi-rs-apps"></span> Browse Categories
              </a>
              <div class="categori-dropdown-wrap categori-dropdown-active-small">
                <ul>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-dress"></i>Women's Clothing</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-tshirt"></i>Men's Clothing</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-smartphone"></i> Cellphones</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-desktop"></i>Computer & Office</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-cpu"></i>Consumer Electronics</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-home"></i>Home & Garden</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-high-heels"></i>Shoes</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-teddy-bear"></i>Mother & Kids</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-kite"></i>Outdoor fun</a
                    >
                  </li>
                </ul>
              </div>
            </div> -->
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <!-- <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/">Home</a>
              </li> -->
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/shop">Shop</a>
              </li>
              <!-- <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Orders</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">About</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Contact</a>
              </li> -->


            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">

          <div class="single-mobile-header-info">
            <a href="page-login-register.html">Log In / Sign Up </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt="" /></a>
          <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt="" /></a>
          <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt="" /></a>
          <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt="" /></a>
          <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <main class="main">



    <!-- banner -->
    <section class="home-slider position-relative pt-50">
      <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
        <% bannerresponse.forEach(function(banner) { %>


          <% if (banner.image.length==1) { %>
            <div class="single-hero-slider single-animation-wrap">
              <div class="container">
                <div class="row align-items-center slider-animated-1">
                  <div class="col-lg-5 col-md-6">

                    <div class="hero-slider-content-2">
                      <!-- <h4 class="animated">Hot promotions</h4> -->
                      <h2 class="animated fw-900">
                        <%=banner.title%>
                      </h2>
                      <h1 class="animated fw-900 text-7">Great Price</h1>
                      <p class="animated">
                        <%=banner.description%>
                      </p>
                      <a class="animated btn btn-brush btn-brush-2" href="<%=banner.link%>"> Discover Now </a>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-6">
                    <div class="single-slider-img single-slider-img-1">
                      <img class="animated slider-1-2" src="/uploads/<%=banner.image[0]%>" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%} else { %>
              <% for(let i=0; i<banner.image.length; i++) {%>

                <div class="single-hero-slider single-animation-wrap">
                  <div class="container">
                    <div class="row align-items-center slider-animated-1">
                      <div class="col-lg-5 col-md-6">

                        <div class="hero-slider-content-2">
                          <!-- <h4 class="animated">Hot promotions</h4> -->
                          <h2 class="animated fw-900">
                            <%=banner.title%>
                          </h2>
                          <h1 class="animated fw-900 text-7">Great Price</h1>
                          <p class="animated">
                            <%=banner.description%>
                          </p>
                          <a class="animated btn btn-brush btn-brush-2" href="<%=banner.link%>"> Discover Now </a>
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-6">
                        <div class="single-slider-img single-slider-img-1">
                          <img class="animated slider-1-2" src="/uploads/<%=banner.image[i]%>" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <% } %>

                  <% } %>

                    <% }); %>

      </div>
      <div class="slider-arrow hero-slider-1-arrow"></div>
        
    </section>



    <section class="featured section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-1.png" alt="" />
              <h4 class="bg-1">Free Shipping</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-2.png" alt="" />
              <h4 class="bg-3">Online Order</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-3.png" alt="" />
              <h4 class="bg-2">Save Money</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-4.png" alt="" />
              <h4 class="bg-4">Promotions</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-5.png" alt="" />
              <h4 class="bg-5">Happy Sell</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-6.png" alt="" />
              <h4 class="bg-6">24/7 Support</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="product-tabs section-padding wow fadeIn animated">
      <div class="container">
        <div class="tab-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one"
                type="button" role="tab" aria-controls="tab-one" aria-selected="true">
                Featured
              </button>
            </li>

          </ul>
          <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
        </div>
        <!--End nav-tabs-->
        <div class="tab-content wow fadeIn animated" id="myTabContent">
          <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
            <div class="row product-grid-4">

              <% newlyAdded.forEach(function(product) { %>

                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="/shop-product/<%=product._id%>">
                          <img class="default-img" src="/uploads/<%=product.Image[0]%>" alt="" />
                          <img class="hover-img" src="/uploads/<%=product.Image[0]%>" alt="" />
                        </a>
                      </div>
                      <div class="product-action-1">

                        <!-- <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i
                          class="fi-rs-heart"></i></a> -->

                      </div>
                      <div class="product-badges product-badges-position product-badges-mrg">
                        <span class="hot">Hot</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="#">
                          <%=product.category%>
                        </a>
                      </div>
                      <h2>
                        <a href="/shop-product/<%=product._id%>">
                          <%=product.Productname%>
                        </a>
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>90%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span><%=product.Price.toLocaleString('en-IN', { style: 'currency' , currency: 'INR'
                            })%>%></span>
                        <!-- <span class="old-price">$245.8</span> -->
                      </div>
                      <!-- <div class="product-action-1 show">
                      <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                          class="fi-rs-shopping-bag-add"></i></a>
                    </div> -->
                    </div>
                  </div>
                </div>

                <% }); %>



            </div>
            <!--End product-grid-4-->
          </div>

        </div>
        <!--End tab-content-->
      </div>
    </section>
    <section class="banner-2 section-padding pb-0">
      <div class="container">
        <div class="banner-img banner-big wow fadeIn animated f-none">
          <img src="assets/imgs/banner/banner-4.png" alt="" />
          <div class="banner-text d-md-block d-none">
            <h4 class="mb-15 mt-40 text-brand"></h4>
            <h1 class="fw-600 mb-20">
              We create trends in fasion <br />
            </h1>
            <a href="#" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section class="section-padding">
      <div class="container pb-20">
        <h3 class="section-title mb-20 wow fadeIn animated">
          <span>Featured</span> Brands
        </h3>
        <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
          <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
          <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
            <div class="brand-logo">
              <img class="img-grey-hover" src="assets/imgs/banner/brand-1.png" alt="" />
            </div>
            <div class="brand-logo">
              <img class="img-grey-hover" src="assets/imgs/banner/brand-2.png" alt="" />
            </div>
            <div class="brand-logo">
              <img class="img-grey-hover" src="assets/imgs/banner/brand-3.png" alt="" />
            </div>
            <div class="brand-logo">
              <img class="img-grey-hover" src="assets/imgs/banner/brand-4.png" alt="" />
            </div>
            <div class="brand-logo">
              <img class="img-grey-hover" src="assets/imgs/banner/brand-5.png" alt="" />
            </div>
            <div class="brand-logo">
              <img class="img-grey-hover" src="assets/imgs/banner/brand-6.png" alt="" />
            </div>
            <div class="brand-logo">
              <img class="img-grey-hover" src="assets/imgs/banner/brand-3.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>